.container {
  width: 100%;
  height: 70px;
  background-color: #010101;
  opacity: 0.9;
  color: #ffffff;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
}
.content {
  margin: auto;
  width: 1200px;
}
.title {
  display: inline-flex;
  float: left;
  margin-right: 20px;
}
.title img {
  margin-top: 10px;
  margin-right: 10px;
}
.title span {
  height: 100%;
  margin-top: 10px;
  font-size: 32px;
  font-weight: 200;
  display: inline-block;
}
.tag {
  margin-left: 40px;
  padding-top: 25px;
  float: left;
}
.link {
  font-size: 18px;
  text-decoration: none !important;
  color: #ffffff;
}
.link:hover {
  color: #69c1ed;
}
.language {
  padding-top: 25px;
  float: right;
}
