.container {
  background: #f7f8fa;
  border-radius: 2px;
  text-align: center;
  height: 920px;
  overflow: hidden;
  min-width: 1200px;
}
.anchor {
  height: 120px;
  margin-top: -100px;
}
.content {
  background: #f7f8fa;
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.title {
  font-size: 32px;
  color: #4a4a4a;
  margin-bottom: 20px;
}
.tab {
  text-decoration: none !important;
  font-size: 16px;
  display: inline-block;
  width: 140px;
  text-align: center;
  padding: 5px;
  line-height: 44px;
}
.tab:hover {
  cursor: pointer;
  color: #69c1ed;
}
.selected {
  color: #69c1ed;
  font-size: 16px;
  display: inline-block;
  width: 140px;
  text-align: center;
  padding: 5px;
  text-decoration: none !important;
  line-height: 44px;
}
.selected:hover {
  cursor: pointer;
  color: #69c1ed;
}
.selected .line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 60px;
  height: 2px;
  background-color: #69c1ed;
}
