.container {
  position: absolute;
  vertical-align: top;
  display: block;
  text-align: left;
  padding: 40px;
  box-shadow: 2px 2px 3px #aaaaaa;
  width: 1200px;
  margin-bottom: 30px;
  background-color: #ffffff;
  transition: opacity 0.5s;
}
.git {
  margin-top: 10px;
  width: 1100px;
  margin-bottom: 30px;
}
.title {
  font-size: 14px;
  color: #4a4a4a;
  font-weight: 600;
}
