.container {
  min-width: 1200px;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  transition: height 1s;
  background-size: cover;
  background: url("./bcg.png") center center;
  border-radius: 2px;
  color: #ffffff;
  z-index: 3;
  height: 400px;
}
.content {
  width: 1000px;
  margin: 110px auto 0;
}
.title {
  font-size: 36px;
}
.line {
  margin: 5px auto 0;
  width: 50px;
  height: 2px;
  background-color: #69c1ed;
}
.email {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  width: 140px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none !important;
  margin-bottom: 10px;
  padding: 5px 5px;
  background-color: #69c1ed;
  border-radius: 1px;
  transition: background-color 0.2s;
}
.email:hover {
  background-color: #59aad2;
  color: #ffffff !important;
}
