.container {
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  transition: height 1s;
  background-size: cover;
  background: url("./bcg.png") center center;
  border-radius: 2px;
  color: #ffffff;
  z-index: 3;
  height: 400px;
}
.content {
  width: 1000px;
  margin: -40px auto 0;
}
.title {
  font-size: 32px;
}
.line {
  margin: 5px auto 0;
  width: 50px;
  height: 2px;
  background-color: #69c1ed;
}
.email {
  display: block;
  width: 150px;
  text-align: center;
  text-decoration: none !important;
  margin-top: 35px;
  height: 36px;
  padding: 5px 20px;
  font-size: 16px;
  color: #ffffff;
}
