.container {
  border-radius: 2px;
  text-align: center;
  min-width: 1200px;
}
.anchor {
  height: 60px;
  margin-top: 0px;
}
.content {
  width: 1200px;
  margin: 20px auto 0;
  text-align: left;
  padding-bottom: 30px;
}
.title {
  margin-top: 30px;
  font-size: 36px;
  color: #4a4a4a;
  margin-bottom: 30px;
}
.tip {
  color: #9b9b9b;
}
