.button {
  text-align: center;
  display: inline-block;
  width: 160px;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none !important;
  margin-top: 5px;
  padding: 5px 5px;
  background-color: #69c1ed;
  border-radius: 1px;
}
