.container {
  border: 1px solid #f5f5f5;
  color: #4a4a4a;
  text-align: center;
  font-size: 14px;
}
.content {
  padding: 20px 10px;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.tab {
  padding: 30px 10px;
  text-align: left;
  width: 390px;
  display: inline-block;
  tab-size: 14px;
  vertical-align: top;
}
.title {
  display: inline;
  font-size: 22px;
}
.title2 {
  font-size: 18px;
  display: block;
  text-decoration: none !important;
}
.title3 {
  height: 15px;
}
.right {
  margin-top: 10px;
  margin-right: 5px;
  font-size: 12px;
  color: #9b9b9b;
  float: right;
  text-decoration: none !important;
}
.line {
  margin-top: 5px;
  width: 30px;
  height: 2px;
  background-color: #69c1ed;
  margin-bottom: 10px;
}
.img {
  width: 15px;
  height: 15px;
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.document_line {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-right: 5px;
}
.document_line:hover .download_title {
  color: #69c1ed;
}
.document_line:hover .document_tip {
  color: #69c1ed;
}
.paper_line {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-right: 5px;
  color: #4a4a4a;
  display: block;
  text-decoration: none !important;
  overflow-y: hidden;
}
.time {
  word-break: break-all;
  font-size: 12px;
  color: #9b9b9b;
  letter-spacing: 0;
  line-height: 12px;
  width: 30px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}
.download_title {
  white-space: nowrap;
  overflow: hidden;
  color: #4a4a4a;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-bottom: 1px;
}
.help_title {
  white-space: nowrap;
  overflow: hidden;
  color: #4a4a4a;
  text-overflow: ellipsis;
  font-size: 14px;
  display: block;
  margin-bottom: 1px;
}
.help_title:hover {
  color: #69c1ed;
}
.document_title {
  white-space: nowrap;
  overflow: hidden;
  color: #4a4a4a;
  text-overflow: ellipsis;
  font-size: 12px;
  margin-bottom: 1px;
}
.document_title:hover {
  color: #69c1ed;
}
.document_tip {
  color: #9b9b9b;
  font-size: 12px;
  line-height: 16px;
  margin-left: 24px;
}
