.container {
  position: relative;
  vertical-align: top;
  height: 240px;
  display: inline-block;
  text-align: center;
  padding: 20px;
  margin-left: 85px;
  transition: box-shadow 0.1s;
  width: 280px;
  margin-bottom: 30px;
}
.container:hover {
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
}
.img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.title {
  font-size: 18px;
  color: #9b9b9b;
}
